

body{
    background-image: url(./images/istockphoto-841282414-612x612.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
ul li{
    list-style-type: none;
    float: left;
    padding: 20px;
    
    

}

ul li a:hover{
    background-color: black;
    color: yellow;
    padding: 20px;

}
nav{
    background-color: #fff;
    
    width: 150%;
    height: 60px;
    margin-top:-20px ;
    margin-left: -20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100%;
    color: green;

}
.unorder{
    background-color: #fff;
    padding-top:16px;
    
}
.unorder li{
    list-style-type: none;
    float: none;
    padding-left: -60px;
    margin-left: -20px;
    margin-right: 20px;
    display: none;
    text-align: center;

    
}
.unorder li:hover{
    background-color: black;
    color:yellow;
    padding: none;
    text-align: center;
    
    
    margin-left: -40px;
    margin-right:-3px;
}
ul li:hover .unorder li{
    display: block;
}


